.relative {
  display: block;
  justify-content: center;
  align-items: center;
  margin-top: 14px;
}

/* Only apply this for mobile views */
@media (max-width: 1024px) {
  .mobile-dropdown {
    position: absolute;
    top: 100px; /* Increase this value to move the dropdown lower */
    left: 190px;  /* Adjust this for better positioning */
    width: calc(60% - 5px);  /* Ensure the dropdown fits within the viewport */
  }
}
